<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="IndexModule">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link rel="shortcut icon" href="assets/img/user.ico" />
   <title>World Of Bits & Bytes</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="assets/js/angular/controllers.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-sanitize.min.js"></script>
    <!-- BOOTSTRAP STYLES-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <!-- FONTAWESOME STYLES-->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
    <!--CUSTOM BASIC STYLES-->
    <link href="assets/css/basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="assets/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div class='Expertise' id="wrapper"  ng-controller='IndexController'>
      <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                 <a class="navbar-brand" href="{{initialize.SideContents.Introduction}}.html" ng-bind-html="initialize.CompanyName">{{initialize.CompanyName}}</a>
            </div>

            <div class="header-right">

               <a href="index.html#message" class="btn btn-info" title="New Message"><i class="fa fa-envelope-o fa-2x"></i></a>
                <a href="CodeChallenges.html#cchallenge" class="btn btn-primary" title="Coding Challenge"><i class="fa fa-CodeChallenges fa-2x"></i></a>
                <a href="ResearchWork.html#rwork" class="btn btn-danger" title="Research Work"><i class="fa fa-ResearchWork fa-2x"></i></a>


            </div>
        </nav>
        <!-- /. NAV TOP  -->
       <nav class="navbar-default navbar-side" role="navigation">
            <!--  Side Bar Start -->
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <div class="user-img-div">
                            <img src="assets/img/user.png" class="img-thumbnail" />

                            <div class="inner-text">
                               {{initialize.Name}}
                                <span ng-if="initialize.PhoneNumber!=''">
                                <br>
                                {{initialize.PhoneNumber}}
                                </span>
                            <br />
                            </div>
                        </div>

                    </li>


                    <li ng-repeat='(key,value) in initialize.SideContents' ng-if="value!=''">
                        <a ng-href="{{value}}.html" ng-class="key==active?'active-menu':'menu'"><i class="fa fa-{{value}} "></i>{{key}}</a></li>
                    </ul>

            </div>
            <!-- Side Bar End -->


        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">{{expert.PageName}}</h1>
                     
                    </div>
                </div>
                <!-- /. ROW  -->
                <center><input type="search"  class="search" ng-model="query" placeholder="Search with Technology Name Or Project Name" autofocus /></center>
                
                <hr/>
                <div class="row">
                   <div class="col-md-6" ng-repeat="(key,data) in expert" ng-if="key!='PageName'" ng-init="count=1">
                      
                        <div class="panel panel-{{$index%2}}" ng-init="flag={1:2}" ng-if="flag!=''" ng-show="newItem.length">
                            
                            <div class="panel-heading">
                                <b>{{key}}</b>
                            </div>
                            
                            <div class="panel-body" style="padding: 0px;">
                                <div class="chat-widget-main">


                                    <div class="chat-widget-{{$index%2}}" ng-repeat="item in newItem = (data| filter:query)" ng-if="item.Technology!=''">
                                        <!--<div class="chat-widget-{{$index%2}}" ng-repeat="item in (flag=(data| filter:query))" ng-if="item.Technology!=''">-->
                                        <span><b>{{item.Technology}}</b></span>
                                        <br/>
                                        <span ng-if="item.YearOfExperiance!=''"><label>Experiance:&nbsp</label>{{item.YearOfExperiance}}</span>
                                        <br/>
                                        <b ng-if="item.RelatedProjects!=''">Projects:&nbsp</b><span ng-repeat="projects in item.RelatedProjects" ng-if="projects.Link!=''">&nbsp<a ng-href="{{projects.Link}}" >{{projects.Name}}</a></span>
                                    </div>
                                 
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="input-group">
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                  
                </div>
           
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <div id="footer-sec">
        &copy; 2016 World Of Bits & Bytes | Design By: Anup Prasad in association with<a href="http://www.binarytheme.com/" target="_blank">BinaryTheme.com</a>
    </div>
    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="assets/js/bootstrap.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="assets/js/jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="assets/js/custom.js"></script>
 

</body>
</html>
